In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("C:/Users/ngala/Downloads/insurance.csv")

In [7]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
df.shape

(1338, 7)

The data contains 1338 rws and 7 columns

In [18]:
#Dropping unncessary data
df.drop("region",axis="columns",inplace=True)

In [19]:
df.head()

   sex  children  smoker      charges
0    1         0       1  16884.92400
1    0         1       0   1725.55230
2    0         3       0   4449.46200
3    0         0       0  21984.47061
4    0         0       0   3866.85520

In [20]:
#Replacing the values in sexr to machine readable
df["sex"].replace({"female":1,"male":0},inplace=True)

In [21]:
df.head()

   sex  children  smoker      charges
0    1         0       1  16884.92400
1    0         1       0   1725.55230
2    0         3       0   4449.46200
3    0         0       0  21984.47061
4    0         0       0   3866.85520

In [22]:
#Replacing the values in smokerr to machine readable
df["smoker"].replace({"yes":1,"no":0},inplace=True)

In [23]:
df.head()

   sex  children  smoker      charges
0    1         0       1  16884.92400
1    0         1       0   1725.55230
2    0         3       0   4449.46200
3    0         0       0  21984.47061
4    0         0       0   3866.85520

In [28]:
df["charges"]=df.charges
df.head()

   sex  children  smoker      charges
0    1         0       1  16884.92400
1    0         1       0   1725.55230
2    0         3       0   4449.46200
3    0         0       0  21984.47061
4    0         0       0   3866.85520

In [29]:
# split the data into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(["charges"],axis="columns"),df.charges,test_size=0.2,)

In [31]:
len(x_train)

1070

In [32]:
len(x_test)

268

In [58]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)
model.fit(x_train, y_train)

ValueError: Unknown label type: 'continuous'